.backgroundImage {
    flex: auto;
    height: 5500px;
    width: inherit;
    background-color: #FFFFFF;
}

.image {
    position: absolute;
    z-index: 0;
    height: inherit;
    width: 100%;
    opacity: 0.4;
    background-image: url('../../../../../assets/backgroundImage/background.png');
}