@font-face {
    font-family: 'Inter';
    src: url('https://fonts.google.com/specimen/Inter');
}

.nav {
    display: flex;
    position: sticky;
    top: -5px;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    padding: 0 8%;
    box-shadow: 0 0.125rem 20px 0 #5F4698;
}

  
.nav__container__actions {
    display: inline-flex;
    flex-flow: row nowrap;
    flex: 1;
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.logo {
    display: flex;
    height: 100%;
    padding-right: 20px;

}

.router__ul {
    display: flex;
    gap: 20px;
    font-size: 0.9rem;
    height: 100%;
    align-items: center;
    list-style: none;
    padding: 0;
}
  
.router__li {
    display: flex;
    height: 100%;
    cursor: pointer;
    align-items: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.2rem;
    font-style: normal;
    color: #5F4698;
}
  
.router__li:hover {
    border-bottom: 0.2rem solid #5F4698;
}

.router__li__active {
    display: flex;
    height: 100%;
    cursor: pointer;
    align-items: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.2rem;
    font-style: normal;
    color: #5F4698;
    border-bottom: 0.2rem solid #5F4698;
}
  
.router__section {
    display: grid;
    place-items: center;
    height: 120vh;
    font-size: 32px;
    font-weight: bold;
    z-index: 2;
    opacity: 1;
}

.router__section__aboutUs {
    display: grid;
    place-items: center;
    height: 200vh;
    font-size: 32px;
    font-weight: bold;
    z-index: 2;
    opacity: 1;
}

.router__section__ourProgram {
    display: grid;
    place-items: center;
    height: 160vh;
    font-size: 32px;
    font-weight: bold;
    z-index: 2;
    opacity: 1;
}

.router__section__joruney {
    display: grid;
    place-items: center;
    height: 250vh;
    font-size: 32px;
    font-weight: bold;
    z-index: 2;
    opacity: 1;
}

.router__section__member {
    display: grid;
    place-items: center;
    height: 140vh;
    font-size: 32px;
    font-weight: bold;
    z-index: 2;
    opacity: 1;
}